body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkgoldenrod;
}

nav {
    background: #222;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

form {
    margin-bottom: 15px;
}